.container {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #78c1f3;
}

.form_container {
  width: 600px;
  min-width: 800px;
  margin: 5rem auto;
  height: max-content;
  min-height: 500px;
}

.content {
  width: max-content;
  height: 200px;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .form_container {
    width: 100%;
    min-width: 300px;
    height: max-content;
  }

  .container {
    margin-top: 4rem;
  }

  .content {
    width: 85vw;
  }
}
